.dialog {
  margin: auto;
  width: 320px;
  height: 170px;
  background-color: #fdfefe;
  border: #888;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
  }
}