.header {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: flex-start;
}

.input_field {
  flex-basis: 50%;
}
.input_block {
  margin: 10px 0;
}

.input_block .input {
  display: inline-block;
  padding: 5px;
  width: 60%;
  height: 40px;
  font-size: 1rem;
  margin-top: 5px;
}

.input_block .button {
  display: inline-block;
  padding: 5px;
  width: 32%;
  height: 40px;
  font-size: 1rem;
  margin: 5px 0 0 20px;
}

.option_list {
  flex-basis: 20%;
  padding: 5px 5px;
  border-left: 1px solid #aeb6bf;
}

.option_list ul {
  list-style: none;
}
.option_list li {
  background-color: #d5dbdb;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option_list li .icon {
  color: red;
  font-size: 1.2rem;
  cursor: pointer;
}

.option_list ul li:nth-child(2n) {
  background-color: #eaeded;
}

.image {
  width: 205px;
  height: 255px;
  border: 1px solid #b2babb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  max-width: 200px;
  max-height: 250px;
}

.image_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 5px 10px;
  width: 200px;
}
.image_footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.image_footer button {
  margin-top: 5px;
}
