$viber-color: #7360f2;
$telegram-color: #2aabee;

.container {
  position: relative;
  padding: 10px 20px;
  width:400px;
  max-width:100%;
  .cancell {
    position: absolute;
    top: 10px;
    right: 15px;
    color: red;
    &:hover {
      cursor: pointer;
    }
  }

  h1 {
    text-align: center;
  }
  .icons {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a:nth-child(1) {
      color: $viber-color;
    }
    a:nth-child(2) {
      color: $telegram-color;
    }

    i {
      cursor: pointer;
      &:active {
        transform: scale(0.98);
      }
    }
  }
  .warn {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      text-align: center;      
      font-size: 15px;
      background-color: #FEF9E7;
      padding: 5px;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
      
    }
  }
}
