@import './dialog';

.dialog_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  span {
    padding: 5px;
    color: red;
    cursor: pointer;
    align-self: flex-end;
  }
  input {
    width: 80%;
    border: 1px solid #888;
    padding: 5px;
  }
}